.homes {
    grid-column: center-start / center-end;
    margin: 15rem 0;
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 7rem;
}

.home {
    background-color: $color-grey-light-1;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 3.5rem;

    &_img {
        width: 100%;
        grid-row: 1 / 2;
        grid-column: 1 / -1;
        z-index: 1;
    }

    &_like {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        fill: $color-primary;
            height: 3rem;
            width: 3rem;
        z-index: 2;
        justify-self: end;
        margin: 1rem;
    }

    &_name {
        grid-row: 1 / 2;
        grid-column: 1 / -1;
        width: 80%;
        justify-self: center;
        align-self: end;
        z-index: 2;

        font-family: $font-display;
        font-size: 1.6rem;
        text-align: center;
        padding: 1.25rem;
        background-color: $color-secondary;
        color: white;
        font-weight: 400;
        transform: translateY(50%);
    }

    &_location,
    &_rooms {
        margin-top: 2.5rem;
    }
    &_location,
    &_rooms,
    &_area,
    &_price {
        font-size: 1.5rem;
        margin-left: 2rem;
        display: flex;
        align-items: center;
        svg {
            fill: $color-primary;
            height: 2rem;
            width: 2rem;
            margin-right: 1rem;
        }
        
    }

    &_btn {
        grid-column: 1 / -1;
    }
}