
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-grey-dark: #777;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-secondary-light: #ffa153;
$color-secondary-dark: #ff6715;
$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;


// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;